@media screen and (max-width: 600px) {
    .bots-table .chat-price,
    .bots-table .free-chats {
        display: none;
    }
}

.button-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Optional: adds space between buttons */
}

.button-style {
    background-color: #1A202C; /* gray-900 */
    color: white;
    font-weight: 600; /* semibold */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 0.5rem 1.5rem; /* px-6, py-2 */
    height: 42px;
     /* For the second button */
}

.button-style:hover {
    background-color: #4A5568; /* gray-700 */
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        align-items: flex-start; /* Align items to the start of the container */
    }

    .button-style {
        margin-left: 0; /* Remove the margin from the left for mobile */
    }
}
